.close-edit {
    display: flex; 
    justify-content: space-between;
    margin-bottom: -10px;
    padding: 5px;
}

.close-icon {
    font-size: 23px;
}

mat-card {
    padding: 8px;
    margin: -5px 0;
}

.user-info {
    margin-left: 10px;
}

.user-info mat-card-subtitle {
    margin-bottom: -2px;
    font-size: 12px;
}

.user-info span {
    margin-top: -2px;
}

mat-form-field {
    margin-left: 10px;
    margin-bottom: -20px;
    width: 100%;
}