<section fxLayout fxLayoutAlign="center center">
    <form 
        fxLayout="column" 
        fxLayoutAlign="center center"
        #form="ngForm"
        (ngSubmit)="onSubmit(form)"
    >
        <h1>Login</h1>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input 
                type="email" 
                matInput 
                ngModel
                name="email"
                required
                email
                #emailInput="ngModel"
            >
            <mat-error *ngIf="emailInput.hasError('required')">
                Field should not be empty
            </mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">
                Please use the correct email format
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input 
                matInput 
                [type]="hide ? 'password' : 'text'"
                ngModel
                name="password"
                required
                password
                #passwordInput="ngModel"
            >
            <button 
                type="button"
                mat-icon-button 
                matSuffix 
                (click)="hide = !hide" 
                [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="hide"
            >
                <mat-icon>
                    {{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </button>
            <mat-error *ngIf="passwordInput.hasError('required')">
                Field should not be empty
            </mat-error>
        </mat-form-field>
        <button 
            class="submit" 
            type="submit" 
            mat-raised-button 
            color="primary"
            [disabled]="form.invalid"
        >
            Login
        </button>
        <mat-label class="submit-error" *ngIf="errorExists">
            {{ errorText }}
        </mat-label>
        <h3>You dont have an account?</h3>
        <a routerLink="/register">Register here</a>
    </form>
</section>